<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(/assets/banner_pic.jpg)";>
  <div class="container">
    <h1 class="mb-1">Fluffy Bikes!</h1>
    <p>For a fluffy experience</p>
    <%= link_to "Rent a bike", bikes_path, class: "btn btn-danger btn-lg" %>
    <%= link_to "Offer a bike", new_bike_path, class: "btn btn-danger btn-lg ml-3" %>
  </div>
    </form>
  </div>

