<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1571068316344-75bc76f77890?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80
);">
  <div class="container">
    <h1>Fluffy Bikes!</h1>
    <br>
    <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="Location?"/>
        <%= link_to "Search", bikes_path, class: "btn btn-danger" %>
      </div>
    </form>
  </div>
</div>
