<div class="container">
  <div class="card-wrapper">
    <% @bikes.each do |bike| %>
      <div class="card">
        <div class="card-img-top">
          <% if bike.photo.attached? %>
            <%= cl_image_tag bike.photo.key %>
          <% else %>
          <%= image_tag "bike_placeholder_300x300.png" %>
          <% end %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><strong> <%= link_to bike.title, bike_path(bike)%></strong></h4>
          <p class="card-text"><%=bike.description%></p>
          <a href="#" class="btn btn-danger">Details</a>
        </div>
      </div>
    <% end %>
  </div>
