.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  margin: 6px;
  border-radius: 2px;
  font-size: 14px;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar {
  border-bottom: 1px solid #F15946;
}
