.listing {
  background-size: cover;
  background-position: center;
  height: 150px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
}


.listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin: 16px;
  flex-grow: 1;
  /*if there is space, grow to fill it*/
}

@media(max-width: 992px) {
  .listings {
    grid-template-columns: 1fr 1fr;
  }
}
@media(max-width: 768px) {
  .listings {
    grid-template-columns: 1fr;
  }
}
